## This notebook is uses to verify age bucket is works

In [1]:
import pandas as pd

In [2]:
PATH_TO_CSV = '../../data/raw/raw_cleaned/final_test.csv'

In [3]:
df = pd.read_csv(PATH_TO_CSV)

In [4]:
df.head()

,Unnamed: 0.1,Unnamed: 0,user id,movie id,rate,timestamp,datetime,age,gender,occupation,...,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western,release_year
0,0,0,196,242,3,881250949,1997-12-04 15:55:49,Adult,M,writer,...,0,0,0,0,0,0,0,0,0,1997.0
1,1,1,186,302,3,891717742,1998-04-04 19:22:22,Adult,F,executive,...,1,0,0,1,0,0,1,0,0,1997.0
2,2,2,22,377,1,878887116,1997-11-07 07:18:36,Adult,M,writer,...,0,0,0,0,0,0,0,0,0,1994.0
3,3,3,244,51,2,880606923,1997-11-27 05:02:03,Adult,M,technician,...,0,0,0,0,1,0,0,1,1,1994.0
4,4,4,166,346,1,886397596,1998-02-02 05:33:16,Adult,M,educator,...,0,0,0,0,0,0,0,0,0,1997.0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 33 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Unnamed: 0.1  100000 non-null  int64
 1   Unnamed: 0    100000 non-null  int64
 2   user id       100000 non-null  int64
 3   movie id      100000 non-null  int64
 4   rate          100000 non-null  int64
 5   timestamp     100000 non-null  int64
 6   datetime      100000 non-null  object
 7   age           100000 non-null  object
 8   gender        100000 non-null  object
 9   occupation    100000 non-null  object
 10  zip code      100000 non-null  object
 11  movie title   100000 non-null  object
 12  IMDb URL      100000 non-null  object
 13  Other         100000 non-null  int64
 14  Action        100000 non-null  int64
 15  Adventure     100000 non-null  int64
 16  Animation     100000 non-null  int64
 17  Children's    100000 non-null  int64
 18  Comedy        100000 non-null  int64
 19  Crime         100000 non-null  int64
 20  Documentary   100000 non-null  int64
 21  Drama         100000 non-null  int64
 22  Fantasy       100000 non-null  int64
 23  Film-Noir     100000 non-null  int64
 24  Horror        100000 non-null  int64
 25  Musical       100000 non-null  int64
 26  Mystery       100000 non-null  int64
 27  Romance       100000 non-null  int64
 28  Sci-Fi        100000 non-null  int64
 29  Thriller      100000 non-null  int64
 30  War           100000 non-null  int64
 31  Western       100000 non-null  int64
 32  release_year  100000 non-null  float64
dtypes: float64(1), int64(25), object(7)
memory usage: 25.2+ MB

In [6]:
df['age'].value_counts()

age
Adult     96798
Teen       2390
Senior      711
Child       101
Name: count, dtype: int64

In [15]:
df['age'].count

<bound method Series.count of 0        Adult
1        Adult
2        Adult
3        Adult
4        Adult
         ...
99995     Teen
99996    Adult
99997    Adult
99998    Adult
99999    Adult
Name: age, Length: 100000, dtype: object>