## Scaling the dataset using standard scaling method

In [1]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

In [5]:
PATH_TO_CSV = "../data/raw/raw_cleaned/final_test.csv"

In [ ]:
# TODO: load actual dataset.
# Alerts:
df = pd.DataFrame({
    'height': [150, 160, 170, 180, 190],
    'weight': [50, 60, 70, 80, 90]
})

In [3]:
df.head()

   height  weight
0     150      50
1     160      60
2     170      70
3     180      80
4     190      90

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   height  5 non-null      int64
 1   weight  5 non-null      int64
dtypes: int64(2)
memory usage: 208.0 bytes

In [6]:
scaler = StandardScaler()

In [8]:
scaled_df = scaler.fit_transform(df)

In [9]:
df = pd.DataFrame(scaled_df, columns=df.columns)

In [10]:
df.head()

     height    weight
0 -1.414214 -1.414214
1 -0.707107 -0.707107
2  0.000000  0.000000
3  0.707107  0.707107
4  1.414214  1.414214

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   height  5 non-null      float64
 1   weight  5 non-null      float64
dtypes: float64(2)
memory usage: 208.0 bytes