In [1]:
# Importing libraries

import pandas as pd
df = pd.read_csv("../data/raw/raw_cleaned/final_test.csv")

In [2]:
# Clean column names first
df.columns = df.columns.str.strip()

# Convert release_date to release year
df['release_year'] = pd.to_datetime(df['release date']).dt.year


# Fill missing categorical values with "Unknown"
df['occupation'] = df['occupation'].fillna('Unknown')
df['gender']     = df['gender'].fillna("Unknown")
df['IMDb URL'] = df['IMDb URL'].fillna("unknown")

# Fill numeric values with median
df['age'] = df['age'].fillna(df['age'].median())
df['release_year'] = df['release_year'].fillna(df['release_year'].median())

KeyError: 'release date'

In [ ]:
# Verify the results
print("Data after cleaning:")
print(df[['age', 'gender', 'occupation', 'release_year']].isnull().sum())
print("\nSample data:")
print(df[['age', 'gender', 'occupation', 'release date', 'release_year']].head(10))

Data after cleaning:
age             0
gender          0
occupation      0
release_year    0
dtype: int64

Sample data:
   age gender  occupation release date  release_year
0   49      M      writer   1997-01-24        1997.0
1   39      F   executive   1997-01-01        1997.0
2   25      M      writer   1994-01-01        1994.0
3   28      M  technician   1994-01-01        1994.0
4   47      M    educator   1997-01-01        1997.0
5   44      M   executive   1963-01-01        1963.0
6   31      M    engineer   1990-01-01        1990.0
7   26      F   librarian   1994-01-01        1994.0
8   23      M  programmer   1978-01-01        1978.0
9   42      M   executive   1993-01-01        1993.0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 32 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   user id       100000 non-null  int64
 1   movie id      100000 non-null  int64
 2   rate          100000 non-null  int64
 3   timestamp     100000 non-null  int64
 4   datetime      100000 non-null  object
 5   age           100000 non-null  int64
 6   gender        100000 non-null  object
 7   occupation    100000 non-null  object
 8   zip code      100000 non-null  object
 9   movie title   100000 non-null  object
 10  release date  99991 non-null   object
 11  IMDb URL      100000 non-null  object
 12  Other         100000 non-null  int64
 13  Action        100000 non-null  int64
 14  Adventure     100000 non-null  int64
 15  Animation     100000 non-null  int64
 16  Children's    100000 non-null  int64
 17  Comedy        100000 non-null  int64
 18  Crime         100000 non-null  int64
 19  Documentary   100000 non-null  int64
 20  Drama         100000 non-null  int64
 21  Fantasy       100000 non-null  int64
 22  Film-Noir     100000 non-null  int64
 23  Horror        100000 non-null  int64
 24  Musical       100000 non-null  int64
 25  Mystery       100000 non-null  int64
 26  Romance       100000 non-null  int64
 27  Sci-Fi        100000 non-null  int64
 28  Thriller      100000 non-null  int64
 29  War           100000 non-null  int64
 30  Western       100000 non-null  int64
 31  release_year  100000 non-null  float64
dtypes: float64(1), int64(24), object(7)
memory usage: 24.4+ MB

In [ ]:
df = df.drop('release date', axis=1)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 31 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   user id       100000 non-null  int64
 1   movie id      100000 non-null  int64
 2   rate          100000 non-null  int64
 3   timestamp     100000 non-null  int64
 4   datetime      100000 non-null  object
 5   age           100000 non-null  int64
 6   gender        100000 non-null  object
 7   occupation    100000 non-null  object
 8   zip code      100000 non-null  object
 9   movie title   100000 non-null  object
 10  IMDb URL      100000 non-null  object
 11  Other         100000 non-null  int64
 12  Action        100000 non-null  int64
 13  Adventure     100000 non-null  int64
 14  Animation     100000 non-null  int64
 15  Children's    100000 non-null  int64
 16  Comedy        100000 non-null  int64
 17  Crime         100000 non-null  int64
 18  Documentary   100000 non-null  int64
 19  Drama         100000 non-null  int64
 20  Fantasy       100000 non-null  int64
 21  Film-Noir     100000 non-null  int64
 22  Horror        100000 non-null  int64
 23  Musical       100000 non-null  int64
 24  Mystery       100000 non-null  int64
 25  Romance       100000 non-null  int64
 26  Sci-Fi        100000 non-null  int64
 27  Thriller      100000 non-null  int64
 28  War           100000 non-null  int64
 29  Western       100000 non-null  int64
 30  release_year  100000 non-null  float64
dtypes: float64(1), int64(24), object(6)
memory usage: 23.7+ MB

In [ ]:
df.to_csv('../data/raw/raw_cleaned/final_test.csv', index=False)